<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSAppleEventsUsageDescription</key>
        <string>There was an error while launching the application. Please click OK to display a dialog with more information or cancel and view the syslog for details.</string>

        <key>NSNetworkVolumesUsageDescription</key>
        <string>AJCore benötigt Zugriff auf ein Netzwerkvolume.</string>

        <key>NSRemovableVolumesUsageDescription</key>
        <string>AJCore benötigt Zugriff Wechselmedien.</string>

        <key>NSDownloadsFolderUsageDescription</key>
        <string>AJCore benötigt Zugriff auf die Downloads.</string>

        <key>NSDesktopFolderUsageDescription</key>
        <string>AJCore benötigt Zugriff auf den Desktop.</string>

        <key>NSDocumentsFolderUsageDescription</key>
        <string>AJCore benötigt Zugriff auf die Dokumente.</string>

        <key>CFBundleDevelopmentRegion</key>
        <string>German</string>

        <key>CFBundleAllowMixedLocalizations</key>
        <true/>

        <key>CFBundleExecutable</key>
        <string>AJCore</string>

        <key>CFBundleIconFile</key>
        <string>AJCore.icns</string>

        <key>JVMSplashFile</key>
        <string>splash.png</string>

        <key>CFBundleIdentifier</key>
        <string>de.applejuicenet.core.Core</string>

        <key>CFBundleDisplayName</key>
        <string>appleJuice Client</string>

        <key>CFBundleName</key>
        <string>AJCore</string>

        <key>CFBundlePackageType</key>
        <string>APPL</string>

        <key>NSHighResolutionCapable</key>
        <string>True</string>

        <key>CFBundleShortVersionString</key>
        <string>0.31.149.113</string>

        <key>CFBundleSignature</key>
        <string>acre</string>

        <key>CFBundleVersion</key>
        <string>0.31.149.112</string>

        <key>LSApplicationCategoryType</key>
        <string>public.app-category.utilities</string>
    </dict>
</plist>
