name: 'container beta'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * MON'

jobs:
  snapshot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get snapshot info
        id: snapshot
        run: |
          response=$(curl -i -s "http://www.applejuicenet.cc/snapshot.php")
          download_url=$(echo "$response" | grep -i "^location:" | cut -d' ' -f2- | tr -d '\r')
          release_tag=$(echo "$response" | grep -i "^x-release-tag:" | cut -d' ' -f2- | tr -d '\r')
          echo "DOWNLOAD_URL=${download_url}" >> $GITHUB_OUTPUT
          echo "RELEASE_TAG=${release_tag}" >> $GITHUB_OUTPUT
          
          echo "::group::Snapshot Info"
          echo "DOWNLOAD_URL: ${download_url}"
          echo "RELEASE_TAG: ${release_tag}"
          echo "::endgroup::"
          
          if [[ -z "$download_url" && -z "$release_tag" ]]; then
            echo "::error::Both DOWNLOAD_URL and RELEASE_TAG are empty!"
            exit 1
          fi

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ vars.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
            ${{ github.repository }}
          tags: |
            type=raw,value=beta
            type=raw,value=${{ steps.snapshot.outputs.RELEASE_TAG }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./docker/
          file: ./docker/Beta.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          provenance: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            DOWNLOAD_URL=${{ steps.snapshot.outputs.DOWNLOAD_URL }}
